/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}


.table-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
    margin-top: 20px;
    color: #333;
}

.asignaciones-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.asignaciones-table th, .asignaciones-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.asignaciones-table th {
    background-color: #f2f2f2;
}

.asignaciones-table th:first-child, .asignaciones-table td:first-child {
    width: 120px; /* Increased width for the hour column */
}

.asignacion-epis {
    background-color: #d4edda;
}

.asignacion-episw {
    background-color: #d1ecf1;
}

/* Responsive styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }
    nav ul li:last-child {
        border-bottom: none;
    }
}
