/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}


/* Container for form */
.login-container,
.course-container,
.assignment-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1,
.course-container h1,
.assignment-container h1 {
    margin-bottom: 20px;
}

/* Main container styles */
.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-container label {
    display: inline-block;
    margin-right: 10px;
}

.main-container select,
.main-container input[type="text"] {
    width: auto;
    padding: 5px;
    margin-right: 20px;
}

#btn-actualizar {
    padding: 5px 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#btn-actualizar:hover {
    background: #218838;
}

/* Table styles */
.asignaciones-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.asignaciones-table th, .asignaciones-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.asignaciones-table th {
    background-color: #f2f2f2;
}

.day-container {
    margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }
    nav ul li:last-child {
        border-bottom: none;
    }
}
